@model DEBGroup.Models.Category.Index

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            <p>@Html.Raw(Model.DisplayName)</p>
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model.AllCategories)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.CategoryName)
            </td>
            <td>

                @Html.ActionLink("View", "Index", "Product", new { id = Model.SectorID, id2 = item.CategoryID }, null) |
                @Html.ActionLink("Edit", "Edit", new { id = item.CategoryID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.CategoryID })

            </td>
        </tr>
    }

</table>
